<div class="container">

  <form (ngSubmit)="pesquisar()">
    <div class="grid">

      <div class="col-12">
        <h1>Lançamentos</h1>
      </div>
      <!-- ui-fluid todos os filhos da classe ficam inline -->
      <!-- A partir do angular 10 o p-grid substitui o ui-g -->
      <div class="col-12 p-fluid">
        <label>Descrição</label>
        <input type="text" pInputText name="descricao" [(ngModel)]="filtro.descricao">
      </div>

      <div class="col-12 pesquisa">
        <label style="display: block;">Vencimento</label>

        <p-calendar dateFormat="dd/mm/yyyy" [inputStyle]="{width:'95px'}" name="vencimentoInicio"
          [(ngModel)]="filtro.dataVencimentoInicio"></p-calendar>

        <label class="ateSpace">até</label>

        <p-calendar dateFormat="dd/mm/yyyy" [inputStyle]="{width:'95px'}" name="vencimentoFim"
          [(ngModel)]="filtro.dataVencimentoFim"></p-calendar>

      </div>

      <div class="col-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>


    </div>
  </form>

  <div class="grid">
    <div class="col-12">
      <!-- tabela responsiva [responsive]="true" -->
      <p-table [value]="lancamentos" [paginator]="true" [rows]="filtro.itensPorPagina" [responsive]="true" [lazy]="true"
        [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <!-- lazy busca por demanda -->
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th class="col-data-header">Vencimento</th>
            <th class="col-data-header">Pagamento</th>
            <th class="col-valor-header">Valor</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>
              <span class="p-column-title">Pessoa</span>
              {{ lancamento.pessoa }}
            </td>
            <td>
              <span class="p-column-title">Pessoa</span>
              {{ lancamento.descricao }}
            </td>
            <td class="col-data">
              <span class="p-column-title">Vencimento</span>
              {{ lancamento.dataVencimento | date: 'dd/MM/y'}}
            </td>
            <td class="col-data">
              <span class="p-column-title">Vencimento</span>
              {{ lancamento.dataPagamento | date: 'dd/MM/y'}}
            </td>
            <td class="col-valor" [ngStyle]="{ color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue'}">
              {{ lancamento.valor | currency:'BRL'}}</td>
            <td class="col-acoes">
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
              [routerLink]="['/lancamentos', lancamento.codigo]"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(lancamento)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>

    <div class="col-12">
      <a pButton label="Novo Lançamento" routerLink="/lancamentos/novo"></a>
    </div>
  </div>

</div>
