<div class="container">
  <form #f="ngForm">

    <div class="grid p-fluid">
      <div class="col-12 lg:col-12 md:col-12 title-login">
        <h1>Login</h1>
      </div>

      <div class="col-12 lg:col-12 md:col-12">
        <label>E-mail</label>
        <input pInputText type="email" placeholder="E-mail" required
        name="email" ngModel #email>
      </div>

      <div class="col-12 lg:col-12 md:col-12">
        <label>Senha</label>
        <input pInputText type="password" placeholder="Senha" required
        name="senha" ngModel #senha>
      </div>

      <div class="col-12 lg:col-12 md:col-12">
        <button pButton type="button" label="Login" (click)="login(email.value, senha.value)" [disabled]="!f.valid" class="p-button-info"></button>
      </div>
    </div>

  </form>
</div>
