<div class="container">
  <form>

    <div class="grid">
      <div class="col-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="col-12 lg:col-12 md:col-6  p-fluid">
        <label>Nome</label>
        <input pInputText type="text">
      </div>

      <div class="col-12 lg:col-8 md:col-6 p-fluid">
        <label>Logradouro</label>
        <input pInputText type="text">
      </div>

      <div class="col-12 lg:col-4 md:col-6 p-fluid">
        <label>Número</label>
        <input pInputText type="text">
      </div>

      <div class="col-12 lg:col-4 md:col-6 p-fluid">
        <label>Complemento</label>
        <input pInputText type="text">
      </div>

      <div class="col-12 lg:col-4 md:col-6 p-fluid">
        <label>Bairro</label>
        <input pInputText type="text">
      </div>

      <div class="col-12 lg:col-4 md:col-6 p-fluid">
        <label>CEP</label>
        <input pInputText type="text">
      </div>

      <div class="col-12 lg:col-6 md:col-6 p-fluid">
        <label>Cidade</label>
        <input pInputText type="text">
      </div>
      <div class="col-12 lg:col-6 md:col-6 p-fluid">
        <label>Estado</label>
        <input pInputText type="text">
      </div>

      <div class="col-12 lg:col-12 md:col-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="p-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>
</div>
